/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ********************************************************************** */

body {
    width: 1024px;
    margin: none;
    padding: none;
    margin: auto;
    background: url('/images/head_bg.jpg') repeat-x #c4c4c4;/* #221E1B */
}

#header {
    margin: 0;
    padding: 0;
    height: 150px;

    background: url('/images/header.png') top right no-repeat;
}

#content {
    width: 780px;
    border: 1px solid transparent;
    min-height: 460px;
    padding: 20px;
    float: left;
}

#footer {
    clear: both;
}

#divtrends {
    width: 190px;
    min-height: 190px;
    float: left;
    padding: 5px;

    border: 1px solid #e4e5dd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(244,245,242)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(244,245,242) 0%,
        rgb(255,255,255) 100%
    );

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /*box-shadow: 0 0 2px #ccc;*/
}

#divtrends h1 {
    font-size : 25px;
}

#divtrends a {
    color : #555;
    font-size: 13px;
    text-decoration: none;
}


#divtrends a:hover {
    color : red;
}

#divtrends li {
    list-style: none;
}

form#searchForm {
    margin-left: 35px;
    margin-bottom : 30px;
}

/* ********************************************************************** */

#content h1 {
    font-family: "Times New Roman",Times,serif;
    font-weight:normal;
    text-shadow:0 0 1px #000;
    color:#333;
    font-size:25px;
    line-height:1.2em;
}

/* ********************************************************************** */

.result {
    margin : 10px;
    padding : 10px;
    background-color: white;
    border: 1px solid gray;
    font-size: 12px;
    line-height: 14pt;
}

.result a.link {
    margin-left: 10px;
    color: black;
    font-size: 13px;
}

.result a {
    color : #555;
}

.result em {
    display:block;
    float: left;
    font-size: 12px;
    color: #4ea2d7;
}

/* a tweet */
.result p {
    margin-left : 20px;
    margin: 10px;
}