%form{:id => "searchForm", :action=>""}
  %div
    %label{:for=>"search"}Search:
    %input{:type=>"text", :name=>"seach", :value=>"", :id=>"search", :title=>"Some #HashTag"}
    %input{:type=>"submit", :value=>"Go"}
%h1= @title
%div{:class => "search"}
