%h1 tag #{params[:tag]}
%div
  - @groups.each do |g|
    .result
      %em #{g[1].length} times
      %a{:href => g[0], :class => 'link'}= g[0]
      - g[1].each do |t|
        %hr
        %p
          %a{:href => t.link}
            = t.user
          %span= t.status
