!!! Strict iso-8859-1
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Raven
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
    #bodyContent
      #divtrends
      #content
        = yield
    #footer
